# --- Debug probe: SEGGER J-Link OB (F072) ---
# Use the built-in J-Link interface script
source [find interface/jlink.cfg]

transport select swd
adapter speed 8000          ;# 8 MHz SWD，可按需改为 4000/12000 等

source [find target/stm32h7x.cfg]
